fastapi
uvicorn
sqlalchemy
psycopg2-binary
redis
faiss-cpu
opencv-python
ultralytics
# paddleocr
# paddlepaddle
# insightface
torch
torchvision
pydantic
pydantic-settings
python-multipart
python-dotenv
asyncio
websockets
numpy
pillow
